.loader--container {
  padding: 1rem;
  text-align: center;
}

.loader {
  background: url(/static/img/rim.svg) no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
  animation: drive 2s linear infinite;
}

@keyframes drive {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  }
  100% {
    transform: rotate(1800deg)
  }
}
