.ReactModal__Content {
  margin: 0 32px !important;
  max-height: 95vh !important;
  overflow-y: auto !important;
  background: #fff !important;
  border-radius: 0 !important;
  outline: none !important;
  padding: 1rem !important;
  border-width: 2px !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.54) !important;
}
